header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    padding: 1rem;
}
header a{
    text-decoration: none;
    color: var(--secondary);
}
header button, #addCommit button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px var(--secondary--ceroSeis);
    transition: 0.4s;
}
.reg {
    color: white;
    background-color: var(--secondary);
}

.log {
    color: var(--secondary);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid var(--secondary);
}

header button:hover, #addCommit button:hover {
    color: white;
    box-shadow: 0 0 20px var(--secondary--ceroSeis);
    background-color: var(--secondary);
}
.user__icon__img{
    width: 3rem;
}
header form{
    display: flex;
    align-items: center;
}